#chatTotal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}

#formChat {
    overflow: hidden;
    position: relative;
    width: 80%;
}

#inputChat {
    bottom: 1%;
    color: #fff;
    font-size: 20px;
    width: 100%;
    padding: 20px 5px 5px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-radius: 4px;
    border-color: #666567;
    margin-top: 0.5%;
}

#chatLabel {
    color: #fff;
    left: 0;
    pointer-events: none;
}

#chatText {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 20px;
    transition: all 0.3s ease;
}

#chatLabel::after {
    content: "";
    position: absolute;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

#inputChat:focus+#chatLabel span,
#inputChat:valid+#chatLabel span {
    transform: translateY(-150%);
    font-size: 14px;
    bottom: 10px;
    color: #e0138c;
}

#inputChat:focus+#chatLabel::after,
#inputChat:valid+#chatLabel::after {
    transform: translateX(0%);
}

.message-balloons {
    display: flex;
    flex-direction: column;
}

.message-balloon {
    background-color: #962038;
    padding: 8px;
    margin: 4px 0;
    border-radius: 8px;
    width: 100%;
    align-self: flex-start;
}
