#chat{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 70%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}
#chat-input{
    background-color: grey;
    color: black;
    width: 70%;
    height: 10%;
}