/* Light Theme */

#formChat {
    position: relative;
    width: 80%;
    margin: 15px 0;
    display: flex;
}

#inputChat {
    font-size: 20px;
    width: 100%;
    padding: 20px 5px 5px;
    background: var(--inputColor); /* Cor de fundo mais clara */

    border: 1px solid;
    border-color: var(--inputBorder); /* Cor da borda mais clara */
    border-radius: 8px;

    word-wrap: break-word;
    color: var(--textColor); /* Cor do texto mais escura */
}

#chatLabel {
    left: 0;
    pointer-events: none;
}

#chatText {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 20px;
    font-style: italic;
    transition: all 0.3s ease;
    color: var(--textColor); 
}

#chatLabel::after {
    content: "";
    position: absolute;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

#inputChat:focus+#chatLabel span,
#inputChat:valid+#chatLabel span {
    transform: translateY(-150%);
    font-size: 14px;
    color: #e0138c;
}

#inputChat:focus+#chatLabel::after,
#inputChat:valid+#chatLabel::after {
    transform: translateX(0%);
}
#buttonSubmit{
    height: 100%;
    width: 6vh;
}